@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    /* color: white; */
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
}

nav :hover, :link {
    text-decoration: none;
    color: #1ED760;
}

strong, h1, h2, p, u {
    color:white;
}

body{
    box-sizing: border-box;
}

.wrapper {
    background-color: black;
    padding: 18px;
}

nav {
    /* margin-left: 44px;
    margin-right: 50px; */
    display: flex;
    width: 82%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.navlinks {
    /* margin-left: 44px;
    margin-right: 50px; */
    display: flex;
    justify-content: flex-end;
    width: 82%;
    margin: 0, 15px;
    align-items: center;
}

span {
    padding-left: 30px;
}

/* img .break {
    padding-top: 5pc;
} */

a {
    display: inline-block;
    /* margin: 0 15px; */
}

h1 {
    font-size: 350%;
    font-weight: 1000;
}

h2 {
    font-weight: lighter;
}

.section1 {
    background-color: #993399;
    /* background-image: url(/Spotify\ Website\ Clone/Images/image1.jpeg);
    background-position: right 50%;
    background-position: ;
    background-size: 400px;
    background-repeat: no-repeat; */
}

.section1 button {
    background-color: rgb(0, 0, 0);
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
}

.section1 button:hover {
    transform: scale(1.1);
}

.section1 p {
    font-size: smaller;
    margin-right: 650px;
}

.image1 {
    width: 400px;
    position: absolute;
    right: 9%;
}

.section2 {
    background-color: #2941ab;
    background-image: url(/Spotify\ Website\ Clone/Images/fullcirclespic.png);
    background-size: fixed;
    background-repeat: repeat-x;
    background-position: right;
    /* box-sizing: border-box;
    border: 20px, 20px, 20px, 20px; */
}

.sec2{
    color: #1ED760;
}

.section2 button {
    background-color: #1ED760;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    border-color: #2941ab;
}

.section2 button:hover {
    transform: scale(1.1);
}

#sec2buttontext {
    color: #2941ab;
}

.sec1, .section1 button, .sec2, .section2 button {
    margin-left: 140px;
    margin-right: 500px;
}

